!!! 5
%html(lang="en")
  %head
    = render 'layouts/shared/web/meta'

    %title МДМ Стандарт | Торговое оборудование Ульяновск
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"

    %link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    = stylesheet_link_tag "site", :media => "all"
    /[if lt IE 9]
      = stylesheet_link_tag 'ie/ie', media: 'all'

    %link(href="favicon.ico" rel="shortcut icon")

  %body
    = render 'layouts/shared/web/navbar'
    = render 'layouts/shared/web/production'
    = render 'layouts/shared/web/companies'

    .container.content
      .row
        - if @page && (@page.slug.eql?('main') || @page.slug.eql?('about'))
          .span8
            = bootstrap_flash
            = yield
          .span4
            = render 'layouts/shared/web/hot'
        - else
          .span12
            = bootstrap_flash
            = yield

    = render 'layouts/shared/web/footer'
    = render 'layouts/shared/web/footer_company'

    = javascript_include_tag "site"
    = render 'layouts/shared/web/counters/yandex'
