.production-title
  Весь спектр торгового оборудования
.container.production
  .row
    .span4
      .row
        .item.span4(data-item="commercical-furniture")
          %pТорговая мебель
        .item.span2(data-item="reshetki")
          %p Экономпанели и решетки
        .item.span2(data-item="telezhki")
          %p Тележки и корзины
        .item.span2(data-item="seasons")
          %p Сезонное оформление
        .item.span2(data-item="manekens")
          %p Манекены
    .span4.subitems
      %p.default-text
        Промо текст о том, как происходит процесс заказа.
        Нужно указать, что большинство продукции представленной у партнеров находится у нас на складе в Ульяновске.
        Быстрая консультация 79 55 95
      %ul(data-item-link="commercical-furniture")
        %li= link_to 'Торговая мебель', '#'
        %li= link_to 'Торговая мебель', '#'
        %li= link_to 'Торговая мебель', '#'
        %li= link_to 'Торговая мебель', '#'
        %li= link_to 'Торговая мебель', '#'
        %li= link_to 'Торговая мебель', '#'
      %ul(data-item-link="reshetki")
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
        %li= link_to 'Экономпанели и решетки', '#'
      %ul(data-item-link="telezhki")
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
        %li= link_to 'Тележки и корзины', '#'
      %ul(data-item-link="seasons")
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
        %li= link_to 'Сезонное оформление', '#'
      %ul(data-item-link="manekens")
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'
        %li= link_to 'Манекены', '#'

      %ul(data-item-link="commercical-systems")
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
        %li= link_to 'Торговые системы', '#'
      %ul(data-item-link="accessories")
        %li= link_to 'Аксессуары для магазинов', '#'
        %li= link_to 'Аксессуары для магазинов', '#'
        %li= link_to 'Аксессуары для магазинов', '#'
        %li= link_to 'Аксессуары для магазинов', '#'
        %li= link_to 'Аксессуары для магазинов', '#'
        %li= link_to 'Аксессуары для магазинов', '#'
      %ul(data-item-link="security")
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
        %li= link_to 'Ограждения и охранные системы', '#'
      %ul(data-item-link="additional")
        %li= link_to 'Дополнительное оборудование', '#'
        %li= link_to 'Дополнительное оборудование', '#'
        %li= link_to 'Дополнительное оборудование', '#'
        %li= link_to 'Дополнительное оборудование', '#'
        %li= link_to 'Дополнительное оборудование', '#'
        %li= link_to 'Дополнительное оборудование', '#'
      %ul(data-item-link="stellazhi")
        %li= link_to 'Торговые стеллажи, металлические горки и стойки', '#'
        %li= link_to 'Торговые стеллажи, металлические горки и стойки', '#'
        %li= link_to 'Торговые стеллажи, металлические горки и стойки', '#'
        %li= link_to 'Торговые стеллажи, металлические горки и стойки', '#'
    .span4
      .row
        .item.span4(data-item="commercical-systems")
          %p Торговые системы
        .item.span2(data-item="accessories")
          %p Аксессуары для магазинов
        .item.span2(data-item="security")
          %p Ограждения и охранные системы
        .item.span2(data-item="additional")
          %p Дополнительное оборудование
        .item.span2(data-item="stellazhi")
          %p Торговые стеллажи, металлические горки и стойки
